### Replication
{% if solr_is_primary %}
enable.master=true
enable.slave=false
{% else %}
enable.master=false
enable.slave=true
{% endif %}

data.dir.root={{ solr_content_dir }}
#point to any one of alfresco share node or balancer
alfresco.host={{ solr_alfresco_host }}
alfresco.port.ssl={{ solr_alfresco_ssl_port }}
alfresco.port={{ solr_alfresco_port }}
alfresco.secureComms={{ solr_alfresco_secure_comms }}
{% if solr_is_primary %}
enable.alfresco.tracking=true
{% else %}
enable.alfresco.tracking=false
{% endif %}

alfresco.commitInterval=2000
alfresco.contentStreamLimit=10000000
alfresco.stores=archive\://SpacesStore
alfresco.changeSetAclsBatchSize=500
solr.pathCache.size=256
solr.pathCache.initialSize=128
solr.deniedCache.size=128
solr.documentCache.autowarmCount=512
solr.documentCache.initialSize=1024
solr.filterCache.size=256
solr.suggester.minSecsBetweenBuilds=3600
solr.readerCache.initialSize=64
#alfresco.port.ssl=8443
solr.ownerCache.autowarmCount=0
alfresco.encryption.ssl.keystore.passwordFileLocation=ssl-keystore-passwords.properties
alfresco.encryption.ssl.truststore.passwordFileLocation=ssl-truststore-passwords.properties
alfresco.transactionDocsBatchSize=500
solr.authorityCache.size=128
alfresco.recordUnindexedNodes=false
solr.documentCache.size=1024
solr.filterCache.initialSize=128
solr.maxBooleanClauses=10000
data.dir.store=archive
solr.queryResultMaxDocsCached=2048
alfresco.doPermissionChecks=true
alfresco.contentUpdateBatchSize=1000
solr.deniedCache.initialSize=64
alfresco.threadDaemon=true
alfresco.baseUrl=/alfresco
solr.queryResultCache.initialSize=1024
solr.readerCache.size=128
alfresco.newSearcherInterval=3000
alfresco.encryption.ssl.keystore.provider=
alfresco.encryption.ssl.truststore.type=JCEKS
alfresco.batch.count=5000
alfresco.topTermSpanRewriteLimit=1000
alfresco.encryption.ssl.truststore.provider=
alfresco.encryption.ssl.keystore.type=JCEKS
alfresco.maximumPoolSize=-1
solr.ownerCache.size=128
solr.pathCache.autowarmCount=32
alfresco.maxHostConnections=200
alfresco.metadata.ignore.datatype.1=app\:configurations
alfresco.metadata.ignore.datatype.0=cm\:person
solr.authorityCache.initialSize=64
solr.queryResultCache.autowarmCount=4
alfresco.threadPriority=5
alfresco.corePoolSize=8
alfresco.metadata.skipDescendantDocsForSpecificAspects=false
solr.readerCache.autowarmCount=0
alfresco.metadata.skipDescendantDocsForSpecificTypes=false
alfresco.encryption.ssl.keystore.location=ssl.repo.client.keystore
solr.filterCache.autowarmCount=32
alfresco.socketTimeout=720000
alfresco.template=rerank
alfresco.keepAliveTime=120
solr.queryResultCache.size=1024
alfresco.maxTotalConnections=200
alfresco.hole.retention=3600000
alfresco.version=5.2.1
alfresco.contentReadBatchSize=100
solr.deniedCache.autowarmCount=0
alfresco.lag=1000
alfresco.workQueueSize=-1
alfresco.hole.check.after=300000
alfresco.cron=0/10 * * * * ? *
alfresco.aclBatchSize=100
alfresco.encryption.ssl.truststore.location=ssl.repo.client.truststore
solr.queryResultWindowSize=512
solr.authorityCache.autowarmCount=4
alfresco.postfilter=true
solr.ownerCache.initialSize=64
shard.method=DB_ID
solr.suggester.enabled=false
alfresco.nodeBatchSize=100
